Final Deliverables/Node-Red Flow Diagram.json
[{"id":"36273202efcc7b43","type":"tab","label":"Node MCU","disabled":false,"info":"","env":[]},{"id":"0c8c091ef9bdfa11","type":"debug","z":"36273202efcc7b43","name":"msg.payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":240,"wires":[]},{"id":"50e44843bce2c777","type":"function","z":"36273202efcc7b43","name":"temperature","func":"msg.payload = msg.payload.temp\nglobal.set(\"t\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":120,"wires":[["0c8c091ef9bdfa11","d8bdb28968292d14"]]},{"id":"b8b291b79e052f6d","type":"function","z":"36273202efcc7b43","name":"humidity","func":"msg.payload = msg.payload.Humid\nglobal.set(\"h\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":320,"wires":[["0c8c091ef9bdfa11","942a0e8615dda4ad"]]},{"id":"a7e03f7df57a61d1","type":"ibmiot in","z":"36273202efcc7b43","authentication":"apiKey","apiKey":"7a03c48e4d2642f3","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":210,"y":240,"wires":[["50e44843bce2c777","b8b291b79e052f6d","01be5542a4e7b375","0c8c091ef9bdfa11"]]},{"id":"6f5c0feed6f0fb11","type":"http in","z":"36273202efcc7b43","name":"","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":210,"y":420,"wires":[["a4ae564e8f15f53d"]]},{"id":"a4ae564e8f15f53d","type":"function","z":"36273202efcc7b43","name":"http request function","func":"msg.payload = { \"temp\": global.get('t'), \"Humid\": global.get('h'), \"alert\": global.get('a')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":420,"wires":[["89b53d5cea7e568c"]]},{"id":"89b53d5cea7e568c","type":"http response","z":"36273202efcc7b43","name":"","statusCode":"","headers":{},"x":730,"y":420,"wires":[]},{"id":"d2451470ea64c2f3","type":"ibmiot out","z":"36273202efcc7b43","authentication":"apiKey","apiKey":"7a03c48e4d2642f3","outputType":"cmd","deviceId":"12","deviceType":"abcd","eventCommandType":"command","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":660,"y":480,"wires":[]},{"id":"f61058644f7b3499","type":"debug","z":"36273202efcc7b43","name":"msg.payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":560,"wires":[]},{"id":"d86b9e3963aa7e5e","type":"http in","z":"36273202efcc7b43","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":180,"y":640,"wires":[["1d771217d2c85fa2"]]},{"id":"2ad8bcca418024fe","type":"http response","z":"36273202efcc7b43","name":"","statusCode":"","headers":{},"x":670,"y":640,"wires":[]},{"id":"1d771217d2c85fa2","type":"function","z":"36273202efcc7b43","name":"function 5","func":"msg.payload = msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":640,"wires":[["d2451470ea64c2f3","f61058644f7b3499","2ad8bcca418024fe"]]},{"id":"01be5542a4e7b375","type":"function","z":"36273202efcc7b43","name":"alert","func":"msg.payload = msg.payload.alert\nglobal.set(\"a\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":180,"wires":[["0c8c091ef9bdfa11"]]},{"id":"d8bdb28968292d14","type":"ui_chart","z":"36273202efcc7b43","name":"","group":"41702c872d86ac3f","order":4,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":610,"y":120,"wires":[[]]},{"id":"942a0e8615dda4ad","type":"ui_chart","z":"36273202efcc7b43","name":"","group":"41702c872d86ac3f","order":1,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":620,"y":320,"wires":[[]]},{"id":"dc4d001b9a3b00f1","type":"ui_button","z":"36273202efcc7b43","name":"","group":"4277d2f9921641a8","order":2,"width":0,"height":0,"passthru":false,"label":"Alarm ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"command\":\"lighton\"}","payloadType":"json","topic":"topic","topicType":"msg","x":240,"y":480,"wires":[["d2451470ea64c2f3","f61058644f7b3499"]]},{"id":"cbaebd28b99eacf3","type":"ui_button","z":"36273202efcc7b43","name":"","group":"4277d2f9921641a8","order":3,"width":0,"height":0,"passthru":false,"label":"Alarm OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"command\":\"lightoff\"}","payloadType":"json","topic":"topic","topicType":"msg","x":230,"y":560,"wires":[["f61058644f7b3499","d2451470ea64c2f3"]]},{"id":"7a03c48e4d2642f3","type":"ibmiot","name":"IBMiotapi","keepalive":"60","serverName":"swz5ou.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"41702c872d86ac3f","type":"ui_group","name":"Analyics","tab":"847f89a8a7bb4244","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"4277d2f9921641a8","type":"ui_group","name":"Button","tab":"847f89a8a7bb4244","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"847f89a8a7bb4244","type":"ui_tab","name":"NodeMCU","icon":"dashboard","disabled":false,"hidden":false}]